@media screen and (max-width: 991px){
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1.1rem;
    }
    nav {
        position: relative;
    }
    .hover-links:after {
        display: none;
    }
    .nav-links {
        transform: none;
        opacity: 1;
        animation: none;
        z-index: 1;
        flex-direction: column;
        position: absolute;
        padding: 80px;
        width: 100vw;
        height: 100vh;
        top: 100%;
        left: -100%;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        transition: 0.3s ease-in-out;
    }
    .active {
        left: 0;
    }
    .nav-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 20px;
        transform: translateX(100%);
        opacity: 0;
        animation: slideIn 1s ease  forwards;
    }
    #nav-icon {
        transition: 0.3s ease;
    }
    
    #nav-icon.fa-xmark {
        transform: rotate(180deg);
    }
    .long-card {
        margin-inline: 20px;
    }
    .section-heading {
        font-size: 1.8rem;
    }
    .intro {
        font-size: 1.4rem;
    }
    .social-icon i {
        font-size: 1.4rem;
    }
    .primary-button {
        padding: 5px;
    }
    .secondary-button {
        padding: 5px;
    }

}
@media screen and (max-width: 767px){
    .hero {
        flex-direction: column;
    }
    .nav-logo img {
        width: 100px;
    }
    .header-pic {
        max-width: 350px;
    }
    
    .header-text {
        align-items: center;
    }
    .header-text h2 {
        text-align: center;
    }
    .header-text p {
        text-align: center;
    }
    .skill-cards {
        gap: 20px;
    }
    .mail ,.icons {
        gap: 20px;
    }
    .mail a {
        font-size: 0.8rem;
    }
    .contact-icons {
        gap: 10px;
    }
    .mail i, .icons i, .icons a {
    font-size: 1.2rem;
}
}
@media screen and (max-width: 479px){
    .nav-logo img {
        width: 80px;
    }
    .main-buttons {
        justify-content: center;
    }
    .card {
       max-width: 60px;
    }
    .contact-form {
        min-width: 200px;
    }
}